body {
    font-family: Helvetica, arial, sans-serif;
    color: #333;
}

#container {
    padding: 25px 35px;
}

img {
    padding: 25px 0;
}

hr {
    border: 1px solid #f5f5f0;
}

table,
th,
td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    padding: 10px;
    margin-top: -18px;
}

table ul li {
    list-style-type: none;
}

table ul {
    display: inline;
}

.hide {
    list-style-type: none;
}
#list{
    position: relative;
    top: -10px:
}
.li {
    padding-top: 20px;
}

.li_nested {
    padding-top: 12px;
}

span {
    letter-spacing: -2px;
}

footer {
    display: block;
    margin: 0 auto;
    width: 300px;
    align-self: center;
}

a {
    color: #1282E2;
    font-size: 15px;
}

footer {
    font-size: 15px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#checkbox {
    position: relative;
    top: -20px;
}

.test{
    background-color: red;
}
#first-li{
    margin-top: -34px;
}
/* input[type="checkbox"] */
.grey_checkbox{
    filter: invert(45%) opacity(0.26);
     -webkit-filter: invert(45%) opacity(0.26);
}
/* input[type="checkbox"]:checked */
.grey_checkbox:checked{
     filter: grayscale(100%) opacity(0.26) invert(100%);
    -webkit-filter: grayscale(100%) opacity(0.26) invert(100%);
}
